body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* flex-direction: row
  flex-direction: column
  justify and align match what direction. justify is ALWAYS horizontal whether it is row or column, must adjust it accordingly. */